.device {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.device-item {
  cursor: pointer;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.device-item:hover {
  background-color: #e6e6e6;
}
.submenu {
  display: none;
}

body {
  font-family: Arial, sans-serif;
}


form {
  display: inline-block; /* Это позволяет формам располагаться в ряд */
  margin-right: 10px; 
}

