<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/scripts.js"></script>
</head>

<body>
<h1>Ваши устройства</h1>
<ul class="device">
  {% for device in devices %}
  <li class="device-item" onclick="toggleMenu({{device[0]}})">{{device[1]}}</li>
  <ul class="submenu" id={{device[0]}}>
    {% if device[1].get_status_connect() %}
      {% for sensor in device[1].get_sensors() %}
        <p>{{sensor}}</p>
      {% endfor %}
      <br>
      {% if device[1].get_status_work() %}
      <button class="custom-btn btn-3" onclick="off({{device[0]}})"><span>Выключить</span></button>
      {% else %}
      <button class="custom-btn btn-3" onclick="on({{device[0]}})"><span>Включить</span></button>
      {% endif %}
      <button class="custom-btn btn-3" onclick="disconnect({{device[0]}})"><span>Отсоеденить</span></button>
    {% else %}
      <button class="custom-btn btn-3" onclick="connect({{device[0]}})"><span>Соеденить</span></button>
    {% endif %}
  </ul>
  <br>
  {% endfor %}
</ul>

<script>
function toggleMenu(menuId) {
  var menu = document.getElementById(menuId);
  if (menu.style.display == "none" || menu.style.display == "") {
    menu.style.display = "block";
  } else {
    menu.style.display = "none";
  }
}
</script>
</body>

